.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
.envs/
*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
terraform/
.pydevproject
.DS_Store
.sass-cache
.vagrant/
__pycache__
dist
docs
env
logs
src/node_modules
web/media
web/static/CACHE
stats
Dockerfile
venv/
